./simulations/HG1
./simulations/HG2
./simulations/HG3
./simulations/HG4
./simulations/MG1
./simulations/MG2
./simulations/MG3
./simulations/MG4
./simulations/LG1
./simulations/LG2
./simulations/LG3
./simulations/LG4

